<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Bank</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="main.js" defer></script>
</head>

<body>
    <div id="app">
        <main>
            <header>
                <h1>Recipe Bank</h1>
            </header>
            <nav>
                <!-- Länka till index sida
                Länka till inköpssida -->
            </nav>
            <section>
                <h2>Categories:</h2>
                <div class="button-section">
                    <button @click="getStarters">Starters</button>
                    <button @click="getMainCourses">Main Courses</button>
                    <button @click="getDesserts">Desserts</button>
                </div>
            </section>
            <div v-if="showRecipes">
                <div v-for="recipe in recipes" :key="recipe.id">
                    <h3>{{ recipe.title }}</h3>
                    <p>Ingredients: {{ recipe.ingredients.join(', ') }}</p>
                    <p>Meal Type: {{ recipe.mealType }}</p>
                    <img :src="recipe.image" alt="Recipe Image" />
                </div>
            </div>
        </main>
    </div>
</body>

</html>
