<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Bank</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="main.js" defer></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parisienne&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Sofia&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
 
<body>
    <div id="app">
        <main>
            <header>
                <h1>Recipe Bank</h1>
            </header>
 
            <section class="category-container">
                <h2>Categories:</h2>
                </button>
                    <button id="cart-button" @click="toggleView">
                    <span  v-if="shoppingBag.length > 0" id="cart-count">{{ shoppingBag.length }}</span>
                </button>
                <div class="button-section">
                    <button @click="getStarters">Starters</button>
                    <button @click="getMainCourses">Main Courses</button>
                    <button @click="getDesserts">Desserts</button>
                    <!-- <button id="allergie-button" @click="toggleAllergenInfo">
                        {{ isAllergenInfoActive ? 'Deactivate allergen information' : 'Allergies'
                        }} -->
                    
                </div>
            </section>
 
           
                <div v-if="showRecipes" class="food-container">
 
                    <div v-for="recipe in recipes">
                        <h3>{{ recipe.title }}</h3>

                        <div v-if="isAllergenInfoActive">
                        <p>Allergens: {{ recipe.allergens ? recipe.allergens.join(', ') : 'None' }}</p>
                        </div>

                        <div class="image-container">
                            <img :src="getImagePath(recipe.image)" alt="Recipe Image" />
                        </div>
                        <button v-if="!isRecipeInShoppingBag(recipe)" id="add-button" @click="addToShoppingBag({ title: recipe.title, ingredients: recipe.ingredients })">Add</button>                            
                    </div>
                </div>
 
                <div class="shopping-list" v-if="showShoppingList">
                    <h4>Shopping list:</h4>
 
                    <div v-for="(item, itemIndex) in shoppingBag">
                        <label :for="'chosen-item-' + itemIndex">
                            <input type="checkbox" v-model="item.checked" :id="'chosen-item-' + itemIndex">
 
                            <span>{{ item.title }}</span>
                        </label>
                        <ul>
                            <li v-for="(ingredient, index) in item.ingredients">
                                {{ ingredient }}
                            </li>
                        </ul>
 
                    </div>
                    <button @click="checkAll">Mark all</button>
                    <button @click="removeCheckedItems">Remove items</button>
                </div>
           
        </main>
 
    </div>
</body>
 
</html>

