* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background-image: url(backround-image.jpg);
    background-size:100% 700px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

main{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-size:45%;
    background-color:rgba(244, 244, 244, 0.734);
    box-shadow: 0px 0px 15px rgb(65, 58, 39);
    padding: 6px;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 20px;
}

h1 {
    color:rgb(0, 0, 0);
    text-align: center;
    font-size: 80px;
    font-weight: 100;
}

h2 {
    font-weight: 400;
    text-align: center;
    margin-bottom: 1rem;
}

.category-container {   
    background-color:rgba(244, 244, 244, 0.734);
    box-shadow: 0px 0px 15px rgba(124, 112, 80, 0.649);
    padding: 20px;
    width: 90%;
    margin: auto;
}

.button-section {
    text-align: center;  
}
.button-section button {
    border: none;
    padding: 10px;
    margin-right: 10px;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    border:6px solid rgba(124, 112, 80, 0.212);
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.3s,transform 0.20s ease-in-out;
}
.button-section button:hover {
    background-color: hsla(44, 31%, 21%, 0.138);
    transform: scale(1.03);
}

#cart-button {
    font-family: 'Material Symbols Outlined';
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    font-size: 34px;
    margin-right: 5px;
    position: relative;
    border:none;
}

#cart-button::before {
    content: '\e8cc';  /* Unicode-koden för önskad ikon */
    position: absolute;
}

#cart-count {
    position: relative;
    top: 0;
    right:0;
    background-color: red; /* Justera färgen efter dina önskemål */
    color: white;
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 50%;
    border:none;
}

.food-container {  
    display: flex;  /* Om du vill ha flera rader */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 390px;
    gap: 30px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    background-color:rgba(244, 244, 244, 0.734);
    box-shadow: 0px 0px 15px rgba(124, 112, 80, 0.647);
    overflow-y:scroll;
}
h3 {
    margin-top: 10px;  
    margin-bottom: 10px; 
    font-family: "Sofia", cursive;
    font-weight: 400;
    font-style: italic;
}

#add-button {
    border:none;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    padding-left: 10px;
    padding-right: 10px;
    border:6px solid rgba(23, 9, 9, 0.07);
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.2s ease-in-out; ;
}
#add-button:hover { 
    background-color: hsla(44, 31%, 21%, 0.138);
}

.image-container {
    margin-bottom: 10px;
}
img {
    box-shadow: 0px 0px 15px rgba(63, 57, 41, 0.577);
    border:2px solid rgba(255, 255, 255, 0.212);
    width: 16rem; /* Bilder kommer inte att vara bredare än förälderelementet */
    height: 13rem; /* Bilder kommer inte att vara högre än förälderelementet */    
}

/* .recipe-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 20px; 
    background-color:rgba(244, 244, 244, 0.734);
    
} */








